# Shared
c3po_env: "dev"
discord_alert_url: "https://discord.com/api/webhooks/..."
database_host: "192.168.1.x"
smtp_host: "192.168.1.x"
smtp_port: 587
smtp_user: "changeme"
smtp_token: "changeme"  # pragma: allowlist secret

# garmin_export
garmin_database_user: "garmin"
garmin_database_password: "changeme"  # pragma: allowlist secret
garmin_database_db: "garmin"

# cloudflare_dynamic_dns
cloudflare_api_token: "changeme"
cloudflare_zone_id: "changeme"

# gsheet_budget
budget_database_user: "budget"
budget_database_password: "changeme"  # pragma: allowlist secret
budget_database_db: "budget"

# scrape_patreon
patreon_username: "changeme"
patreon_password: "changeme"  # pragma: allowlist secret
patreon_download_path: "/path/to/downloads"
samba_username: "changeme"
samba_password: "changeme"  # pragma: allowlist secret

# ufa_api
ufa_database_user: "ufa"
ufa_database_password: "changeme"  # pragma: allowlist secret
ufa_database_db: "ufa"
