C3PO_ENV={{ c3po_env }}
DISCORD_ALERT_URL={{ discord_alert_url }}

# Database (shared)
DATABASE_HOST={{ database_host }}

# garmin_export
GARMIN_DATABASE_USER={{ garmin_database_user }}
GARMIN_DATABASE_PASSWORD={{ garmin_database_password }}
GARMIN_DATABASE_DB={{ garmin_database_db }}
